@import url("https://fonts.googleapis.com/css?family=OpenSans:300|Raleway:100,100i,200,200i,300,300i,400,400i");
* {
  box-sizing: border-box;
  margin-top: 0px;
  position: relative; }

body, html {
  width: 100%;
  height: 100%; }

body {
  background-color: #343434;
  color: #505050;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/darktexture.png");
  background-attachment: fixed; }




  h1 {
  text-transform: lowercase;
  font-family: 'Raleway';
  font-weight: 300;
  line-height: 1.0;
  color: #1e90ff;
  font-style: normal;
  margin: 0;
}



/* NAV CSS */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #343434;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 24px;
  text-transform: lowercase; }

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

nav li {
  display: inline-block;
  padding: 15px 10px;
  text-align: left;
  transition: all .3s ease .1s;  }

nav a {
  position: relative;
  color: #a3a3a3;
  text-decoration: none;
  padding: 0;
  transition: all .3s ease .05s; }

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e90ff;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in-out 0s; }

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

  nav h1 {
    font-size:36px;
    display:none;
    transition: all .3s ease .05s;
  }

  .showname {
    display:inline-block;
    transition: all .3s ease .05s;
  }





/*HEADER (INTRO) CSS */
header {
  text-align: center;
  width: 100%;
  height: 900px;

  display:flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway';
  font-weight: 200;
  font-style: italic;
  font-size: 30px;
  color: #a3a3a3; }


header h1 {
  font-size: 100px;
  margin-bottom: 15px; }

header p {
  padding: 0;
  margin: 0; }






/* ABOUT CSS */
#about {
  width: 100%;
  background-color: #f9f9f9;
  background-image: url("../images/lighttexture.png");
  padding: 80px 0px 125px 0px; }

#about h3 {
  font-size: 35px;
  margin: 30px 0px 10px 0px;
  padding: 0px; }

#about section {
  height: auto;
  box-shadow: none;
  font-size: 20px; }

#about .c-zone {
  width: 60%;
  display:hide; }

#about p {
  font-weight:300;
}

/* about columns */
#about .flexblock {
  padding-left:8%;
}

.flexblock {
  display: flex;
 }

.column {
  width: 47%; }

.column ul {
  list-style-type: none; }

.column li {
  border-left: 10px solid #ff7a00;
  padding: 3px 3px 3px 15px; }







/* WORK/PROJECTS BEGIN */

/* featured project */
.hero {
  background-color: #373737;
  height: 500px;
  width: 100%;
  background-image: url(../images/circleoflightpreview.png);
  background-size: cover;
  background-position: center; }

.latest {
  display: inline-block;
  background-color: #343434;
  position: absolute;
  left: 0;
  bottom: 45px;
  padding: 15px 30px 15px 40px;
  color: #a3a3a3;
  font-size: 16px;
  transition: ease .5s;
  border-bottom: 5px solid #69b5ff; }

.latest h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.4; }

.desc {
  text-transform: uppercase; }







/* the work itself + filtering buttons */
#work {
  padding-top: 100px;
  /*padding-bottom:40px;*/
  min-height: 1000px;
  box-shadow: 0px -2px 50px 1px #303030; }

#work .c-zone {
  width:95%;

}

#work .c-zone h2 {
  display:none;
}

#work .button {
  position: relative;
  color: #a3a3a3;
  text-decoration: none;
  transition: all .3s ease .05s;
  line-height:1.2; }

#work .button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e90ff;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in-out 0s; }

#work .button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }




/* actual gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 20px 0px 0 -10px; }

.gallery h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.4; }

.item {
  background-color: #696969;
  width: 48%;
  height: 275px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  /*	display:none;*/

  cursor:pointer; }

 a {
    text-decoration:none;
    color:inherit;
    font-size:inherit;
    font-family:inherit;
  }

.iname {
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: #343434;
  display: inline-block;
  padding: 10px 30px 10px 20px;
  color: #a3a3a3;
  font-size: 14px;
  transition: ease .325s;
  border-bottom: 3px solid #69b5ff; }

.videocon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute; }

.videocon video {
  min-width: 100%;
  min-height: 100%;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%); }

.show {
  display: block; }

.button {
  display: inline-block;
  padding: 3px 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  color: #a3a3a3;
  font-size:20px; }

#work .activated {
  background-color: #1e90ff;
  color: #fff; }

.activated:hover {
  color: #fff; }


.discord {
  background-image:url('../images/discordpreview.gif')
}



/* footer content */
footer {
  background-color: #f9f9f9;
  background-image: url("../images/lighttexture.png");
  height: auto;
  padding: 30px 0px;
 }

footer .c-zone {
  width:40%;
  text-align:center;
  font-size:12px;
  line-height:1.0;
}

footer a {
  position: relative;
  color: #a3a3a3;
  text-decoration: none;
  transition: all .3s ease .05s;
  line-height:1.2; }

footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e90ff;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in-out 0s; }

footer a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* ============ target all center/content zones */
.c-zone {
  position: relative;
  width: 95%;
  max-width: 1400px;
  margin: 0px auto; }

/* ============ ANIMATIONS =================== */

/* Latest Project Swipein */
@keyframes swipeinleft {
  0% {
    left: -5000px; }
  100% {
    left: 0px; } }

.swipeinleft {
  animation-name: swipeinleft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: .25s;
  animation-fill-mode: both;
  display:block !important; }

/* nav swipein */
@keyframes swipeintop {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }

.swipeintop {
  animation-name: swipeintop;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards; }

/* Fade-In */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards; }

/* topic hover */
.latest:hover {
  cursor: pointer; }

.iname:hover {
  cursor: pointer;}

/* header, #about, and footer background patterns from Subtle Patterns! I'm incredibly grateful for wonderful artists who are willing to offer their patterns for the use of others! */
